/*.light-element {*/
/*    box-shadow: 0 0 2px 1px white, inset 0 0 2px 2px black;*/
/*}*/

/*.light-current-element {*/
/*    box-shadow: 0 0 2px 1px black, inset 0 0 2px 2px white;*/
/*}*/

[data-mark]:before {
    /*content: attr(data-mark);*/
    position: absolute;
    background: black;
    color: white;
    padding: 3px;
    font-size: 14px;
    line-height: 14px;
    transform: translateY(100%);
    border: 1px solid white;
    border-radius: 3px;
}

[data-current-bunch="true"] {
    color: red;

    /*content: '';*/
    /*position: absolute;*/
    background: red;
    /*width: 100%;*/
    /*height: 100%;*/
    /*top: auto;*/
    /*right: auto;*/
    /*bottom: auto;*/
    /*left: auto;*/
    /*box-shadow: inset 0 0 5px;*/
}
